/*---- Roboto Fonts --*/
@font-face {
  font-family: "Roboto Black";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

/*--- Poppins Fonts ----*/
@font-face {
  font-family: "Poppins Black";
  src: url("./fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra-Bold";
  src: url("./fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Light";
  src: url("./fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semi-Bold";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

/*---- Fatura/Nunito Fonts ----*/

@font-face {
  font-family: "Nunito", sans-serif;
  src: url("./fonts/Futura-alternate/Nunito-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Semi-Bold", sans-serif;
  src: url("./fonts/Futura-alternate/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Bold", sans-serif;
  src: url("./fonts/Futura-alternate/Nunito-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}

/*---- Montserrat Fonts ----*/
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

/*---- Baskerville Fonts ---*/
@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("./fonts/Baskerville/LibreBaskerville-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
